<html>
<head>
<script type="text/javascript">
<title>EXCEL DATA</title>
function startTime()
{
var today=new Date();
var h=today.getHours();
var m=today.getMinutes();
var s=today.getSeconds();
// add a zero in front of numbers<10
m=checkTime(m);
s=checkTime(s);
document.getElementById('txt').innerHTML=h+":"+m+":"+s;
t=setTimeout('startTime()',500);
}
function checkTime(i)
{
if (i<10)
{
i="0" + i;
}
return i;
}
</script>
</head>
<body onload = "startTime()">
<div id ="txt"></div>
  <h1><a href=""><font color = "Black"> Building a ScatterPlot and a Bargraph</font></a></h1>
        </div>

  <div>
  <img src = "bargraphtrial.jpg"
   alt = "Picture of a Diagram" />
  </p>
 </script>
 </div>
  </body>
</html>